@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');

:root {
    /* fonts */
    --heading-fonts:'Open Sans', sans-serif;
    --paraghrap-fonts:'PT Sans', sans-serif;
    /* colors */
    --primary:#784d3c;
    --secundary:#fff;
    --black:#000;
    --gray:#e1e1e1;
}

/* normalize style */

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--paraghrap-fonts);
    font-size: 1.6rem;
    line-height: 2;
}

/* Global styles */

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--heading-fonts);
    line-height: 1.5;
}

h1  {font-size: 4.8;}

h2  {font-size: 4rem;}

h3  {font-size: 3rem;}

h4  {font-size: 2.8rem;}

img {
    max-width: 100%;
}

/* utilities */

.no-margin {
    margin: 0;
}

.no-pading  {
    padding: 0;
}

.center-text {
    text-align: center;
}

/* --------------------------------------------------------------------- */
/* Header */

.header {
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
}

.header__text {
    color: var(--secundary);
}

.header__text h3,
.header__text p {
    margin: 0 1rem;
}


@media screen and (min-width: 768px) {
    .header__navbar {
        display: flex;
        width: 80%;
        height: 7rem;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    .header__text {margin-top: 15rem;}
    .header__text h3 {font-size: 4rem;}
    .header__text p {font-size: 2rem;}
}

/* Logo */

.logo__title,
.navbar__nav a {
    color: var(--secundary);
}

.logo__title {
    font-weight: normal;
}

.logo__bold {
    font-weight: bold;
}

.navbar__nav a {
    display: block;
    margin: 2rem 0;
    font-size: 1.8rem;
    font-family: var(--heading-fonts);
}

.navbar__nav a:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .navbar__nav {
        display: flex;
    }
    .navbar__nav a{
        margin: 0 2rem;
    }
 }
/* ----------------------------------------------------------------- */
 /* Blog section */

 @media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 3rem;
    }

 }

 .block {
     margin-bottom: 2rem;
     border-bottom: 1px solid var(--gray);
 }

 .block:last-of-type {
     border:none;
     margin-bottom: 0;
 }

 .block__content p {
     margin-bottom: 1rem;
 }

 .btn {
     text-align: center;
     display: block;
     padding: .5rem 3rem;
     font-size: 1.5rem;
     font-weight: bold;
     margin-bottom: 2rem;
     text-transform: uppercase;
     font-family: var(--heading-fonts);
     color: var(--secundary);
     background-color: var(--black);
 }

 @media screen and (min-width: 768px) {
    .btn {
        display: inline-block;
    }
 }

 /* ------------------------------------------------------------- */
 /* Aside */
   
.sidebar h4 {
    margin-bottom: 3rem;
}
 @media screen and (min-width: 768px) {
    .class {
        margin-left: 2rem;
    }
 }

 .widget-class {
     list-style: none;
     border-bottom: 1px solid var(--gray);
 }

 .widget-class:nth-child(1) {
     margin-bottom: 3rem;
 }

 .widget-class:last-of-type {
     border: none;
     margin: 0;
 }

 .widget-class h4 {
     font-size: 2.3rem;
 }

 .widget-class__label {
     font-family: var(--heading-fonts);
     font-weight: bold;
 }

 .widget-class__info {
     font-weight: normal;
 }

 .btn--modifier {
     background-color: var(--primary);
 }

 /* ------------------------------------------------------------ */
 /* Footer */
 .main {
    background-color: var(--black);
 }