.gallery {
    margin: $separacion auto;
}
.crear-galeria {
    margin-top: $separacion;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);

    img {
        height: 70%;
        width: 50%;
    }
}