
.header {
    background-color: $verde;
    position: relative;
    
    &.fijo {
        position: fixed;
        width: 100%;
    }

    .header__content {
        padding: calc($separacion / 2) 0;
        @include telefono {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 75%;
        }
    }
    h2 {
        color: $blanco;
        text-align: center;
        font-size: 2.3rem;
        @include tablet {
            margin-bottom: 0;
            font-size: 3.5rem;
        }
    }

    .menu {
        font-size: 2rem;
        color: $blanco;
        @include tablet {
            display: none;
        }
    }
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    a {
        font-weight: $regular;
        font-size: 1.7rem;
        color: $blanco;

        &:hover {
            color: $amarillo;
        }
    }
}

.header__nav--modifier {
    position: absolute;
    background-color: $rosa;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    margin-top: 7.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}