@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

/* Color palette */

:root {
    --white:#fff;
    --black-color:#212121;
    --primary-color:#ffc107;
    --secundary-color:#0097a7;
    --third-color:#757575;
    --gray-color:#dfe9f3;
    --font:'Krub', sans-serif;
}

/* general styles */
* {
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    width: 100%;
    max-width: 144rem;
    background-image: linear-gradient(to top, var(--gray-color), var(--white) 100%);
}

.center {
    width: 70%;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.59);
    padding: 3rem;
}

/* principal header */

.title__header {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 700;
}

.title__header span {
    font-size: 2rem;
}

/* Principal nav */

.bg {
    width: 100%;
    background-color: var(--secundary-color);
}

.header__nav {
    width: 70%;
    padding: .2em 0;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    color: var(--white);
    font-weight: 700;
    font-size: 1.14em;
    padding: 0.3em;
    border-radius: .2em;
    transition: .24s;
}

.header__nav a:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
}

/* Hero */

.hero {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/first-excercise/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero > * {
    z-index: 1;
}

.hero__title,
.hero__map,
.hero__map p {
    margin: 1.5rem;
    color: var(--white);
}

.hero__map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__map p {
    display: flex;
    align-items: flex-end;
    height: 8rem;
    font-weight: bold;
}

.btn {
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    background-color: var(--secundary-color);
    color: var(--white);
    font-weight: bold;
    border-radius: .3rem;
    text-transform: uppercase;
}

/* Main */


.main {
    background-color: var(--white);
    margin-top: 2rem;
}

/* Service */

.tecnology__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tecnology__option {
    padding: 2rem;
}

.tecnology__option h3 {
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
    }

    .header__nav a {
        display: inline;
    }
}