@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

/* Color palette */

:root {
    --white:#fff;
    --black-color:#212121;
    --primary-color:#ffc107;
    --secundary-color:#0097a7;
    --third-color:#757575;
    --gray-color:#dfe9f3;
    --font:'Krub', sans-serif;
}

/* general styles */
* {
    font-family: var(--font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    width: 100%;
    max-width: 144rem;
    background-image: linear-gradient(to top, var(--gray-color), var(--white) 100%);
}

.center {
    width: 80%;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.59);
    padding: 3rem;
}

/* principal header */

.title__header {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 700;
}

.title__header span {
    font-size: 2rem;
}

/* Principal nav */

.bg {
    width: 100%;
    background-color: var(--secundary-color);
}

.header__nav {
    width: 70%;
    padding: .2em 0;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    color: var(--white);
    font-weight: 700;
    font-size: 1.14em;
    padding: 0.3em;
    border-radius: .2em;
    transition: .24s;
}

.header__nav a:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
}

/* Hero */

.hero {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero > * {
    z-index: 1;
}

.hero__title,
.hero__map,
.hero__map p {
    margin: 1.5rem;
    color: var(--white);
}

.hero__title {
    text-align: center;
}

.hero__map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__map p {
    display: flex;
    align-items: flex-end;
    height: 8rem;
    font-weight: bold;
}

.btn {
    margin-top: 2rem;
    padding: 1rem 3rem;
    background-color: var(--secundary-color);
    color: var(--white);
    font-weight: bold;
    border-radius: .3rem;
    text-transform: uppercase;
}

/* Main */


.main {
    background-color: var(--white);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.main .title__main {
    text-align: center;
    margin-bottom: 2rem;
}

/* Service */

.tecnology__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin-bottom: 2.5rem;
}

.tecnology__container h3 {
    margin-bottom: 1.5rem;
    color: var(--secundary-color);
}

.tecnology__option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnology__icon {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    width: 15rem;
    margin-bottom: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 100%;
}

.tecnology__container p {
    line-height: 2;
    font-size: 1.5rem;
    text-align: center;
}

/* Contact */


.contact__title {
    text-align: center;
    margin-bottom: 2rem;
}

.contact__form {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--third-color);
    width: min(60rem, 100%);
}

.contact__form legend {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

/* Form */

.container__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    gap: 1rem;
}

.inputs:nth-child(3){
    grid-column:1 / 3 ;
}

.inputs:nth-child(4) {
    grid-column: 1 / 3;
}

.inputs {
    width: 100%;
}

.inputs label {
    display: block;
    margin-bottom: .5rem;
    margin-right: .5rem;
    color: var(--white);
    font-weight: 700;
}

.inputs > input {
    width: 100%;
    border: none;
    padding: 1.3rem;
    border-radius: 1.5rem;
}

.btn__form {
    width: 100%;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
   .btn__form {
       width: initial;
   }

   .boton {
       display: flex;
       justify-content: flex-end;
   }
}

.inputs textarea {
    width: 100%;
    height: 15rem;
    border-radius: 1.5rem;
}


/* Footer */

footer {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
    }

    .header__nav a {
        display: inline;
    }

    .tecnology__container {
        grid-template-columns: 1fr;
    }
}